<section>
	<% if product.image.present? %>
		<%= image_tag product.image %>
	<% end %>
	<h3>
		
	</h3>
	<p><%= product.description %></p>
	<p><strong><%= product.stock_quantity %></strong></p>
	<p><strong><%= number_to_currency(product.price) %></strong></p>
</section>