// Place all the styles related to the product controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

body{
	width:1200px;
	margin-left:auto;
	margin-right:auto;
	background: linear-gradient(#72CC96, white);
	font-family: "sakkal majalla";
}

#pageBody{
	background: linear-gradient(#A1E2BB, white);
	overflow: auto;
	padding-left:200px;

	h2{
		font-size:40px;
		margin:0px;
	}

	p{
		font-size:20px;
	}
}

#pageShow{

	background-color:white;
	height:600px;
	padding-left:20px;
	padding-right:20px;

	h1{
		font-size:50px;
	}	

	p{
		background-color:#D05132;
		padding:10px;
		font-size:40px;
	}
}

#styleThis{
	font-size:30px;
	width:300px;
	margin-left:240px;

	a{
		color:Blue;
	}
}

#pageTitle{
	color: #D05132;
	font-size:60px;
	margin-left:10px;
}

header{
	height:150px;
	margin-top:-40px;
	background-color:#9FE0FD;

	h3{
		margin-left:1000px;
		font-size:25px;
		width:140px;
		margin-top:-120px;

		a{
			color:#E53719;
			text-decoration: none;
		}

		a:hover{
			color:#87C540;
		}
	}

	#search{
		margin-left:920px;
		margin-top:50px;

		input{
		   border-top: 1px solid #caf797;
		   background: #5fe38d;
		   background: -webkit-gradient(linear, left top, left bottom, from(#166e35), to(#5fe38d));
		   background: -webkit-linear-gradient(top, #166e35, #5fe38d);
		   background: -moz-linear-gradient(top, #166e35, #5fe38d);
		   background: -ms-linear-gradient(top, #166e35, #5fe38d);
		   background: -o-linear-gradient(top, #166e35, #5fe38d);
		   padding: 4.5px 9px;
		   -webkit-border-radius: 10px;
		   -moz-border-radius: 10px;
		   border-radius: 10px;
		   -webkit-box-shadow: rgba(0,0,0,1) 0 1px 0;
		   -moz-box-shadow: rgba(0,0,0,1) 0 1px 0;
		   box-shadow: rgba(0,0,0,1) 0 1px 0;
		   text-shadow: rgba(0,0,0,.4) 0 1px 0;
		   color: #f0e7e7;
		   font-size: 14px;
		   font-family: Georgia, Serif;
		   text-decoration: none;
		   vertical-align: middle;
		}
		
		input:hover {
		   border-top-color: #e31616;
		   background: #e31616;
		   color: #edd03d;
		}
		
		input:active {
		   border-top-color: #1992e3;
		   background: #1992e3;
	   }
	}
}

#allProductHeading{
	margin-top:-20px;
	background-color:#BD1409;
	color:white;
	padding-left:25px;

	nav {
		width:400px;
		ul{
			list-style-type: none;
		}
		
		li{
			display:inline;
			padding-right:15px;

			a:link, a:visited{
				font-size:30px;
				color:black;	
				text-decoration: none;
				transition: background-color, color .5s;
			}

			a:hover{
				background-color:#22397C;	
				color:white;
			}
		}
	}

	#category_Search{
		width:400px;
		margin-top:-38px;
		margin-left:750px;
	}
}

.singleProduct{
		width:25%;
		height:374px;
		border: 1px solid black;
		text-align: center;
		background-color:white;
		box-shadow: 5px 5px 5px #888888;
		border-radius: 2em;

		h1{
			margin-left:20px;
		}

		.price{
			border: 1px solid black;
			color:white;
			font-size:20px;
			background-color:#B20B03;
		}

		img{
			margin-top:10px;
			width:60%;
			height:150px;
			margin-left:5%;
		}

		.description{
			height:50px;
		    overflow: hidden;
		    text-overflow: ellipsis; 
		}

		float:left;
		margin:10px;
}

.singleProduct:hover{
	.bottomSectionInformation{
		background: linear-gradient(white, #D05132); /* Standard syntax */
		border-bottom-left-radius:2em;
		border-bottom-right-radius:2em;
		font-weight:bold;
	}
}

.showSingleProduct{
	border:2px solid black;
	background-color:white;
	padding:10px;
	height:500px;
	
	h1{
		margin-left:30px;
		font-size:60px;
		margin-bottom:0px;
	}

	.showImage{
		margin-top:10px;
		margin-left:20px;
	}

	.SectionInformation{
		background-color:#B6452B;
		width:735px;
		height:418px;
		padding-top:100px;
		padding-left:50px;
		border:1px solid black;
		margin-left:400px;
		margin-top:-462px;

		.productDescription{
			color:white;
			font-size:30px;
		}

		.productPrice{
			font-size:50px;
			color:#ECF09B;
			text-align:right;
			margin-right:50px;
		}
	}
}

.allFieldFormRegister{
	height:340px;
}

.allFieldFormLogin{
	height:170px;
}

.allFieldFormLogin, .allFieldFormRegister{
	border: 5px solid #9FE0FD;
	width:600px;
	margin-left:auto;
	margin-right:auto;
	background-color:#D05132;

	.actions{
		width:90px;
		margin-top:10px;
		margin-left:auto;
		margin-right:auto;

		input {
		   border-top: 1px solid #96d1f8;
		   background: #65a9d7;
		   background: -webkit-gradient(linear, left top, left bottom, from(#3e779d), to(#65a9d7));
		   background: -webkit-linear-gradient(top, #3e779d, #65a9d7);
		   background: -moz-linear-gradient(top, #3e779d, #65a9d7);
		   background: -ms-linear-gradient(top, #3e779d, #65a9d7);
		   background: -o-linear-gradient(top, #3e779d, #65a9d7);
		   padding: 9px 18px;
		   -webkit-border-radius: 8px;
		   -moz-border-radius: 8px;
		   border-radius: 8px;
		   -webkit-box-shadow: rgba(0,0,0,1) 0 1px 0;
		   -moz-box-shadow: rgba(0,0,0,1) 0 1px 0;
		   box-shadow: rgba(0,0,0,1) 0 1px 0;
		   text-shadow: rgba(0,0,0,.4) 0 1px 0;
		   color: white;
		   font-size: 14px;
		   font-family: Georgia, serif;
		   text-decoration: none;
		   vertical-align: middle;
		}
		
		input:hover {
		   border-top-color: #28597a;
		   background: #28597a;
		   color: #ccc;
		}
		
		input:active {
		   border-top-color: #1b435e;
		   background: #1b435e;
		}
	}

	input{
		padding: 5px 0;
	}

	.field{
		margin-top:10px;
		width:280px;
		margin-left:auto;
		margin-right:auto;
		text-align: right;

		label{
			width:200px;
			display:inline;
			margin-right: 15px;
			font-size:30px;
			color:white;
		}
	}	
}

#headingLoginRegister{
	width:200px;
	margin: 0 auto;
	font-size:50px;
}

