// Place all the styles related to the product controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

body{
	width:1200px;
	margin-left:auto;
	margin-right:auto;
	background: linear-gradient(#72CC96, white);
	font-family: "sakkal majalla";
}

#pageBody{
	background: linear-gradient(#A1E2BB, white);
	overflow: auto;
	padding-left:200px;
}

#pageShow{

	background-color:white;
	height:500px;
	padding-left:20px;
	padding-right:20px;

	h1{
		font-size:50px;

	}	

	p{
		background-color:#D05132;
		padding:10px;
		font-size:40px;
	}
}

#styleThis{
	font-size:30px;
	width:300px;
	margin-left:240px;

	a{
		color:Blue;
	}
}

#pageTitle{
	color: #D05132;
	font-size:60px;
	margin-left:10px;
}

header{
	height:150px;
	margin-top:-40px;
	background-color:#9FE0FD;

	h3{
		margin-left:1000px;
		font-size:25px;
		width:140px;
		margin-top:-120px;

		a{
			color:#E53719;
			text-decoration: none;
		}

		a:hover{
			color:#87C540;
		}
	}

	#search{
		margin-left:920px;
		margin-top:50px;

	}
}

#allProductHeading{
	margin-top:-20px;
	background-color:#BD1409;
	color:white;
	padding-left:25px;

	nav {
		ul{
			list-style-type: none;
		}
		
		li{
			display:inline;
			padding-right:15px;

			a:link, a:visited{
				font-size:30px;
				color:black;	
				text-decoration: none;
				transition: background-color, color .5s;
			}

			a:hover{
				background-color:#22397C;	
				color:white;
			}
		}
	}
}

.singleProduct{
		width:25%;
		height:374px;
		border: 1px solid black;
		text-align: center;
		background-color:white;
		box-shadow: 5px 5px 5px #888888;
		border-radius: 2em;

		h1{
			margin-left:20px;
		}

		.price{
			border: 1px solid black;
			color:white;
			font-size:20px;
			background-color:#B20B03;
		}

		img{
			margin-top:10px;
			width:60%;
			height:150px;
			margin-left:5%;
		}

		.description{
			height:50px;
		    overflow: hidden;
		    text-overflow: ellipsis; 
		}

		float:left;
		margin:10px;
}

.singleProduct:hover{
	.bottomSectionInformation{
		background: linear-gradient(white, #D05132); /* Standard syntax */
		border-bottom-left-radius:2em;
		border-bottom-right-radius:2em;
		font-weight:bold;
	}
}

.showSingleProduct{
	border:2px solid black;
	background-color:white;
	padding:10px;
	height:500px;
	
	h1{
		margin-left:30px;
		font-size:60px;
		margin-bottom:0px;
	}

	.showImage{
		margin-top:10px;
		margin-left:20px;
	}

	.SectionInformation{
		background-color:#B6452B;
		width:735px;
		height:418px;
		padding-top:100px;
		padding-left:50px;
		border:1px solid black;
		margin-left:400px;
		margin-top:-462px;

		.productDescription{
			color:white;
			font-size:30px;
		}

		.productPrice{
			font-size:50px;
			color:#ECF09B;
			text-align:right;
			margin-right:50px;
		}
	}
}

.field{
	
}